In [1]:
from pathlib import Path

import pandas as pd

from source.utils import POST_PROC_DIR, corners, timestamp_today
from source.utils.associate import AM_DF_DIR, TOP_AM_DIR, adjust_assoc_columns
from source.utils.sample import sample_pickle as sp

K=8

FOCUS_ORIG = ['f', 'E11', 'unexpected_f',
              'am_p1_given2', 'conservative_log_ratio',
              'am_log_likelihood', 't_score',
              'mutual_information', 'am_odds_ratio_disc',
              'N', 'f1', 'f2', 'l1', 'l2']
FOCUS = adjust_assoc_columns(FOCUS_ORIG)
HITS_SAMPLE_PATH = TOP_AM_DIR.joinpath(f'top8adv_sample-5-hit-tables_2024-05-13.pkl.gz')
pd.set_option("display.float_format", '{:,.2f}'.format)
pd.set_option("display.max_colwidth", 80)
adv_am = pd.read_csv(
    TOP_AM_DIR / 'Top7_NEG-ADV_combined.35f-7c_2024-05-15.csv').set_index('adv')
# loaded_cols = adv_am.columns.to_list()
adv_am

/home/arh234/anaconda3/envs/dev-sanpi/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

,G2_MIR,G2_SET,LRC_MIR,LRC_SET,MI_MIR,MI_SET,N_MIR,N_SET,dP1_MIR,dP1_SET,...,mean_MI,mean_N,mean_dP1,mean_expF,mean_f1,mean_f2,mean_f,mean_oddsRDisc,mean_t,mean_unexpF
adv,,,,,,,,,,,,,,,,,,,,,
exactly,"1,939.47","214,404.20",3.51,5.90,0.70,1.28,2032082,"86,330,752.00",0.59,0.67,...,0.99,"44,181,417.00",0.63,"1,231.57","1,760,088.00","31,356.50","604,556.17",1.50,110.37,"20,992.43"
necessarily,"1,688.91","219,003.46",2.66,6.23,0.60,1.30,2032082,"86,330,752.00",0.43,0.72,...,0.95,"44,181,417.00",0.57,"1,180.93","1,760,088.00","29,187.50","603,705.00",1.41,109.88,"20,658.57"
before,"1,080.52","1,062.13",5.11,3.65,0.83,1.05,2032082,"86,330,752.00",0.84,0.38,...,0.94,"44,181,417.00",0.61,35.24,"1,760,088.00",521.00,"586,969.83",1.92,15.29,265.26
that,"7,632.21","781,016.11",2.86,5.62,0.60,1.25,2032082,"86,330,752.00",0.44,0.63,...,0.93,"44,181,417.00",0.53,"5,219.08","1,760,088.00","128,932.00","657,964.83",1.32,216.58,"79,655.42"
remotely,"4,009.84","13,354.33",3.35,3.03,0.67,0.84,2032082,"86,330,752.00",0.54,0.22,...,0.75,"44,181,417.00",0.38,611.22,"1,760,088.00","12,455.50","592,102.00",1.02,49.09,"3,151.28"
yet,242.23,"209,055.78",1.18,4.74,0.39,1.14,2032082,"86,330,752.00",0.21,0.48,...,0.76,"44,181,417.00",0.34,"1,966.16","1,760,088.00","51,308.00","612,609.67",0.98,111.59,"24,466.84"
ever,"15,340.34",353.58,5.57,0.28,0.80,0.11,2032082,"86,330,752.00",0.77,0.01,...,0.45,"44,181,417.00",0.39,"2,702.62","1,760,088.00","64,885.50","610,105.33",0.95,37.38,"2,639.88"
immediately,181.20,"239,462.58",0.79,4.96,0.29,1.17,2032082,"86,330,752.00",0.14,0.52,...,0.73,"44,181,417.00",0.33,"2,032.18","1,760,088.00","52,309.50","613,753.50",0.94,116.57,"26,830.82"
any,"2,511.26","23,683.00",3.48,2.28,0.69,0.64,2032082,"86,330,752.00",0.57,0.13,...,0.67,"44,181,417.00",0.35,"1,868.76","1,760,088.00","47,833.00","605,402.67",0.94,61.22,"6,418.24"
particularly,"17,999.07","40,303.42",3.15,1.43,0.63,0.41,2032082,"86,330,752.00",0.48,0.06,...,0.52,"44,181,417.00",0.27,"11,843.55","1,760,088.00","295,457.00","696,027.83",0.72,109.48,"20,694.95"
terribly,847.65,"42,704.93",1.14,3.09,0.32,0.84,2032082,"86,330,752.00",0.16,0.22,...,0.58,"44,181,417.00",0.19,"1,688.64","1,760,088.00","37,696.00","602,533.50",0.68,67.79,"8,127.86"
only,-716.03,"261,936.36",-1.73,3.04,-0.64,0.82,2032082,"86,330,752.00",-0.11,0.21,...,0.09,"44,181,417.00",0.05,"9,046.94","1,760,088.00","234,668.50","683,959.33",0.12,121.34,"48,074.56"

In [2]:
adv_list = adv_am.index.to_list()
adv_list

['exactly',
 'necessarily',
 'before',
 'that',
 'remotely',
 'yet',
 'ever',
 'immediately',
 'any',
 'particularly',
 'terribly',
 'only']

## Load AM table for `adv~adj` comparison (bigram composition)

In [3]:
adv_adj_am = adjust_assoc_columns(
    pd.read_pickle(AM_DF_DIR.joinpath('adv_adj/RBXadj/extra/AdvAdj_frq-thrMIN-7.35f_min200x_extra.pkl.gz'))
                                  ).filter(items=FOCUS).sort_values('LRC', ascending = False)
adv_adj_am = adv_adj_am.loc[adv_adj_am.l1.isin(adv_list), :]
adv_adj_am

,f,exp_f,unexp_f,dP1,LRC,G2,t,MI,odds_r_disc,N,f1,f2,l1,l2
key,,,,,,,,,,,,,,
yet~unborn,463,0.75,462.25,0.73,10.47,"5,505.48",21.48,2.79,3.36,86330753,101707,635,yet,unborn
only~half-joking,209,1.17,207.83,0.96,9.48,"2,116.01",14.38,2.25,3.66,86330753,464174,217,only,half-joking
immediately~accretive,243,0.68,242.32,0.43,8.65,"2,499.70",15.55,2.56,2.80,86330753,103177,565,immediately,accretive
exactly~alike,3040,9.46,"3,030.54",0.23,8.55,"29,939.32",54.96,2.51,2.64,86330753,61599,13261,exactly,alike
yet~unnamed,771,2.62,768.38,0.35,8.47,"7,535.14",27.67,2.47,2.66,86330753,101707,2227,yet,unnamed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
only~high,327,"3,177.51","-2,850.51",-0.00,-2.86,"-4,245.38",-157.63,-0.99,-0.99,86330753,464174,590978,only,high
only~sure,339,"4,543.20","-4,204.20",-0.01,-3.34,"-6,708.28",-228.34,-1.13,-1.13,86330753,464174,844981,only,sure
ever~many,206,"3,193.77","-2,987.77",-0.00,-3.42,"-4,923.30",-208.17,-1.19,-1.20,86330753,124592,2212989,ever,many
particularly~different,349,"6,070.21","-5,721.21",-0.01,-3.72,"-9,542.66",-306.25,-1.24,-1.25,86330753,575961,909864,particularly,different
only~many,480,"11,898.56","-11,418.56",-0.01,-4.29,"-20,101.74",-521.18,-1.39,-1.41,86330753,464174,2212989,only,many

In [4]:
def load_hit_table(adv_set): 
    
    # hit_df = pd.read_pickle(HITS_PATH).filter(regex=r'^[nab].*lower|text|str|head')
    # hit_df = pd.read_pickle(HITS_PATH)
    if HITS_SAMPLE_PATH.is_file(): 
        hit_df = pd.read_pickle(HITS_SAMPLE_PATH)
    else: 
        hit_df = pd.concat([pd.read_pickle(p).filter(regex=r'^[nab].*lower|text|str|head') 
            for i,p in enumerate(Path('/share/compling/data/sanpi/2_hit_tables/RBXadj/simple').iterdir()) if i < 5] )
    
        hit_df = hit_df.loc[hit_df.adv_form_lower.isin(adv_set), :]
        hit_df = hit_df.drop_duplicates()
        word_cols = hit_df.filter(regex=r'head|lower').columns
        hit_df[word_cols] = hit_df[word_cols].astype('category')
        hit_df.to_pickle(TOP_AM_DIR).joinpath(f'top{K}adv_sample-5-hit-tables_{timestamp_today()}.pkl.gz')
    return  hit_df
hits_df = load_hit_table(adv_list)
hits_df.sort_index(axis=1).sample(13).iloc[:, :4]

,adj_form_lower,adv_form_lower,bigram_lower,text_window
hit_id,,,,
nyt_eng_19961231_0517_16:7-8,appealing,particularly,particularly_appealing,Upshaw strikes a particularly appealing chord with her
nyt_eng_19950627_0578_23:30-31,complete,yet,yet_complete,transformation was not yet complete .
nyt_eng_19960409_0544_20:16-17,certain,yet,yet_certain,victories is n't yet certain .
nyt_eng_19951207_0029_9:10-11,aggressive,terribly,terribly_aggressive,"going to be terribly aggressive , but there"
nyt_eng_19951215_0141_7:31-32,nice,that,that_nice,are Parisians really that nice to foreigners ?
nyt_eng_19980405_0138_28:6-7,good,particularly,particularly_good,"lottery has a particularly good year , it"
pcc_eng_val_1.9919_x16072_23:21-22,recognizable,immediately,immediately_recognizable,the vibrancy is immediately recognizable .
nyt_eng_19950605_0609_23:3-4,true,particularly,particularly_true,this became particularly true as reports circulated
nyt_eng_19991112_0294_19:17-18,strong,particularly,particularly_strong,and had become particularly strong in recent years
apw_eng_20080628_0080_12:37-38,donaghy,only,only_donaghy,and it was only Donaghy who had a
nyt_eng_19990929_0022_46:11-12,12th,only,only_12th,in rushing but only 12th in passing after
nyt_eng_19980316_0389_15:1-2,sly,ever,ever_sly,"ever sly , Gaultier threw"
nyt_eng_19980909_0014_52:6-7,jealous,only,only_jealous,criticizes it is only jealous . ''

## Set adverb and collect specific values

In [5]:
adv = 'exactly'
exactly_adj_am = adv_adj_am.filter(like=adv, axis=0).nlargest(K, 'LRC')
exactly_adj_am

,f,exp_f,unexp_f,dP1,LRC,G2,t,MI,odds_r_disc,N,f1,f2,l1,l2
key,,,,,,,,,,,,,,
exactly~alike,3040,9.46,"3,030.54",0.23,8.55,"29,939.32",54.96,2.51,2.64,86330753,61599,13261,exactly,alike
exactly~opposite,498,6.71,491.29,0.05,5.94,"3,337.27",22.02,1.87,1.90,86330753,61599,9404,exactly,opposite
exactly~right,6948,145.97,"6,802.03",0.03,5.53,"41,085.55",81.60,1.68,1.74,86330753,61599,204572,exactly,right
exactly~zero,344,8.19,335.81,0.03,5.02,"1,912.07",18.11,1.62,1.64,86330753,61599,11472,exactly,zero
exactly~parallel,224,5.41,218.59,0.03,4.90,"1,238.35",14.61,1.62,1.63,86330753,61599,7577,exactly,parallel
exactly~sure,9301,602.91,"8,698.09",0.01,3.89,"34,895.53",90.19,1.19,1.26,86330753,61599,844981,exactly,sure
exactly~equal,560,33.61,526.39,0.01,3.75,"2,108.45",22.24,1.22,1.23,86330753,61599,47099,exactly,equal
exactly~conducive,214,11.71,202.29,0.01,3.68,842.32,13.83,1.26,1.27,86330753,61599,16405,exactly,conducive

In [10]:
def collect_examples(amdf, adv: str = 'exactly', n_bigrams: int = K, n_examples: int = 40, metric: str = 'LRC') -> dict:
    df = amdf.copy().filter(like=adv, axis=0).nlargest(n_bigrams, metric)
    examples = {}
    for i, adj in enumerate(df['l2'].unique(), start=1):
        # if i > 3: #HACK
        #     break
        bigram = f'{adv}_{adj}'
        print(f'\n({i}) {bigram}')
        examples[bigram] = sp(
            data=hits_df, print_sample=False, 
            sample_size=n_examples, quiet=True,
            filters=[f'bigram_lower=={bigram}'],
            columns=['bigram_lower', 'text_window', 'token_str'])
        print('    > ', examples[bigram].sample(1).token_str.squeeze())
    return examples

In [11]:
examples = collect_examples(adv_adj_am)
examples[f'exactly_{exactly_adj_am.sample(1).l2.squeeze()}'].reset_index(drop=True)

(1) exactly_alike
    >  So then , they look exactly alike right ..?

(2) exactly_opposite
    >  `` On the key issues our positions were either very far apart or were exactly opposite , '' Putin said , adding that in the last year experts on both sides `` managed to bring the two sides closer together to move in a positive direction and finally reach agreement . ''

(3) exactly_right
    >  the more recent decades often match the exactly right reviewer with the book in question : John Updike for J.D. Salinger 's `` Franny and Zooey '' -LRB- 1961 -RRB- ; Reynolds Price for Toni Morrison 's `` Song of Solomon '' -LRB- 1977 -RRB- ; Anne Tyler for Nadine Gordimer 's `` July 's People '' -LRB- 1981 -RRB- .

(4) exactly_zero
    >  he took a cash salary of exactly zero _ goose eggs .

(5) exactly_parallel
    >  now , in both cases , all you need do is run the board through the planer flat side down until the two sides are exactly parallel .

(6) exactly_sure
    >  `` I 'm not exactly sure why it 's so hard .

(7) exactly_equal
    >  thirty-one states , including New Jersey and Florida , have estate-tax rates exactly equal to a credit the federal government allows for state inheritance taxes .

(8) exactly_conducive
    >  -lrb- There 's a discreet suggestion of lovemaking , and the late time slot is n't exactly conducive to getting children to watch . -RRB-

,bigram_lower,text_window,token_str
0,exactly_zero,cash salary of exactly zero _ goose eggs,he took a cash salary of exactly zero _ goose eggs .
1,exactly_zero,", is not exactly zero .","infinitely small , is not exactly zero ."