In [33]:
from pathlib import Path

import pandas as pd

from source.utils.sample import sample_pickle as sp
from source.utils.associate import AM_DF_DIR, TOP_AM_DIR, adjust_assoc_columns
from source.utils import POST_PROC_DIR

K = 5
DATE='2024-05-15'
FOCUS = adjust_assoc_columns(['f', 'E11', 'unexpected_f', 'unexpected_abs_sqrt',
         'am_p1_given2', 'conservative_log_ratio',
         'am_log_likelihood', 't_score',
         'mutual_information', 'am_odds_ratio_disc',
         'N', 'f1', 'f2', 'l1', 'l2'])
NEG_HITS_PATH = POST_PROC_DIR.joinpath('RBdirect/trigger-bigrams_thr0-001p.35f.pkl.gz')
ALL_HITS_SAMPLE = TOP_AM_DIR.joinpath('top8adv_sample-5-hit-tables_2024-05-13.pkl.gz')
pd.set_option("display.float_format", '{:,.2f}'.format)
pd.set_option("display.max_colwidth", 80)

In [35]:
adv_am = pd.read_csv(TOP_AM_DIR / f'Top{K}_NEG-ADV_combined.35f-7c_{DATE}.csv').set_index('adv')
adv_am

,G2_MIR,G2_SET,LRC_MIR,LRC_SET,MI_MIR,MI_SET,N_MIR,N_SET,dP1_MIR,dP1_SET,...,mean_MI,mean_N,mean_dP1,mean_expF,mean_f1,mean_f2,mean_f,mean_oddsRDisc,mean_t,mean_unexpF
adv,,,,,,,,,,,,,,,,,,,,,
exactly,"1,939.47","214,404.20",3.51,5.90,0.70,1.28,2032082,"86,330,752.00",0.59,0.67,...,0.99,"44,181,417.00",0.63,"1,231.57","1,760,088.00","31,356.50","604,556.17",1.50,110.37,"20,992.43"
necessarily,"1,688.91","219,003.46",2.66,6.23,0.60,1.30,2032082,"86,330,752.00",0.43,0.72,...,0.95,"44,181,417.00",0.57,"1,180.93","1,760,088.00","29,187.50","603,705.00",1.41,109.88,"20,658.57"
before,"1,080.52","1,062.13",5.11,3.65,0.83,1.05,2032082,"86,330,752.00",0.84,0.38,...,0.94,"44,181,417.00",0.61,35.24,"1,760,088.00",521.00,"586,969.83",1.92,15.29,265.26
that,"7,632.21","781,016.11",2.86,5.62,0.60,1.25,2032082,"86,330,752.00",0.44,0.63,...,0.93,"44,181,417.00",0.53,"5,219.08","1,760,088.00","128,932.00","657,964.83",1.32,216.58,"79,655.42"
remotely,"4,009.84","13,354.33",3.35,3.03,0.67,0.84,2032082,"86,330,752.00",0.54,0.22,...,0.75,"44,181,417.00",0.38,611.22,"1,760,088.00","12,455.50","592,102.00",1.02,49.09,"3,151.28"
yet,242.23,"209,055.78",1.18,4.74,0.39,1.14,2032082,"86,330,752.00",0.21,0.48,...,0.76,"44,181,417.00",0.34,"1,966.16","1,760,088.00","51,308.00","612,609.67",0.98,111.59,"24,466.84"
ever,"15,340.34",353.58,5.57,0.28,0.80,0.11,2032082,"86,330,752.00",0.77,0.01,...,0.45,"44,181,417.00",0.39,"2,702.62","1,760,088.00","64,885.50","610,105.33",0.95,37.38,"2,639.88"
immediately,181.20,"239,462.58",0.79,4.96,0.29,1.17,2032082,"86,330,752.00",0.14,0.52,...,0.73,"44,181,417.00",0.33,"2,032.18","1,760,088.00","52,309.50","613,753.50",0.94,116.57,"26,830.82"
any,"2,511.26","23,683.00",3.48,2.28,0.69,0.64,2032082,"86,330,752.00",0.57,0.13,...,0.67,"44,181,417.00",0.35,"1,868.76","1,760,088.00","47,833.00","605,402.67",0.94,61.22,"6,418.24"

In [36]:
load_path = TOP_AM_DIR / f'Top{K}_NEG-ADV_top-bigrams.{DATE}.csv'
bigram_am = pd.read_csv(load_path).set_index('key')
bigram_am

,f,exp_f,unexp_f,dP1,LRC,G2,t,MI,odds_r_disc,N,f1,f2,l1,l2,adv,adj,adj_total
key,,,,,,,,,,,,,,,,,
NEG~exactly_sure,8860,347.58,"8,512.42",0.92,8.63,"54,750.58",90.43,1.41,2.71,86330752,3226213,9301,NEGATED,exactly_sure,exactly,sure,"844,981.00"
NEG~exactly_new,1378,52.99,"1,325.01",0.93,8.54,"8,697.93",35.69,1.42,2.94,86330752,3226213,1418,NEGATED,exactly_new,exactly,new,"321,311.00"
NEG~that_uncommon,804,30.61,773.39,0.94,8.39,"5,136.91",27.28,1.42,3.13,86330752,3226213,819,NEGATED,that_uncommon,that,uncommon,"61,767.00"
NEG~necessarily_indicative,1406,54.41,"1,351.59",0.93,8.37,"8,811.69",36.05,1.41,2.86,86330752,3226213,1456,NEGATED,necessarily_indicative,necessarily,indicative,"12,760.00"
NEG~exactly_easy,1069,41.11,"1,027.89",0.93,8.37,"6,747.64",31.44,1.42,2.94,86330752,3226213,1100,NEGATED,exactly_easy,exactly,easy,"771,307.00"
NEG~exactly_clear,1759,68.57,"1,690.43",0.92,8.30,"10,937.16",40.31,1.41,2.77,86330752,3226213,1835,NEGATED,exactly_clear,exactly,clear,"491,108.00"
NEG~exactly_cheap,693,26.31,666.69,0.95,8.28,"4,443.27",25.33,1.42,3.19,86330752,3226213,704,NEGATED,exactly_cheap,exactly,cheap,"83,765.00"
NEG~that_surprising,1141,44.36,"1,096.64",0.92,8.14,"7,115.30",32.47,1.41,2.80,86330752,3226213,1187,NEGATED,that_surprising,that,surprising,"150,067.00"
NEG~that_common,1216,47.39,"1,168.61",0.92,8.12,"7,564.08",33.51,1.41,2.78,86330752,3226213,1268,NEGATED,that_common,that,common,"556,435.00"
NEG~that_hard,9966,404.27,"9,561.73",0.88,7.96,"59,642.82",95.78,1.39,2.48,86330752,3226213,10818,NEGATED,that_hard,that,hard,"430,990.00"
NEG~that_complicated,1208,47.46,"1,160.54",0.91,7.95,"7,450.89",33.39,1.41,2.70,86330752,3226213,1270,NEGATED,that_complicated,that,complicated,"180,071.00"
NEG~necessarily_representative,496,19.58,476.42,0.91,7.31,"3,044.27",21.39,1.40,2.65,86330752,3226213,524,NEGATED,necessarily_representative,necessarily,representative,"25,187.00"
NEG~necessarily_easy,914,37.22,876.78,0.88,7.26,"5,448.34",29.00,1.39,2.46,86330752,3226213,996,NEGATED,necessarily_easy,necessarily,easy,"771,307.00"
NEG~necessarily_surprising,343,13.27,329.73,0.93,7.22,"2,150.86",17.80,1.41,2.85,86330752,3226213,355,NEGATED,necessarily_surprising,necessarily,surprising,"150,067.00"
NEG~necessarily_true,3238,141.48,"3,096.52",0.82,6.89,"18,199.76",54.42,1.36,2.18,86330752,3226213,3786,NEGATED,necessarily_true,necessarily,true,"348,994.00"
NEG~that_simple,478,78.12,399.88,0.74,4.48,"1,483.32",18.29,0.79,1.66,2032082,293963,540,NEGMIR,that_simple,that,simple,"27,835.00"
NEG~remotely_true,250,15.70,234.30,0.56,4.46,"1,089.49",14.82,1.20,1.58,86330752,3226213,420,NEGATED,remotely_true,remotely,true,"348,994.00"
NEG~necessarily_wrong,213,33.71,179.29,0.77,4.19,693.55,12.29,0.80,1.79,2032082,293963,233,NEGMIR,necessarily_wrong,necessarily,wrong,"24,007.00"
NEG~before_available,177,26.04,150.96,0.84,3.99,654.92,11.35,0.83,2.48,2032082,293963,180,NEGMIR,before_available,before,available,"14,919.00"
NEG~that_easy,458,80.72,377.28,0.68,3.91,"1,278.04",17.63,0.75,1.43,2032082,293963,558,NEGMIR,that_easy,that,easy,"21,775.00"
NEG~remotely_close,219,43.25,175.75,0.59,3.02,524.61,11.88,0.70,1.21,2032082,293963,299,NEGMIR,remotely_close,remotely,close,"15,958.00"
NEG~that_big,113,20.25,92.75,0.66,2.99,308.12,8.72,0.75,1.39,2032082,293963,140,NEGMIR,that_big,that,big,"9,564.00"
NEG~remotely_close,696,95.59,600.41,0.23,2.92,"1,722.76",22.76,0.86,0.98,86330752,3226213,2558,NEGATED,remotely_close,remotely,close,"480,288.00"
NEG~remotely_interested,333,46.79,286.21,0.23,2.72,808.74,15.68,0.85,0.97,86330752,3226213,1252,NEGATED,remotely_interested,remotely,interested,"364,497.00"
NEG~that_good,449,105.89,343.11,0.47,2.65,848.28,16.19,0.63,0.97,2032082,293963,732,NEGMIR,that_good,that,good,"38,252.00"
NEG~exactly_sure,148,21.55,126.45,0.85,2.09,560.65,10.39,0.84,2.77,2032082,293963,149,NEGMIR,exactly_sure,exactly,sure,"11,297.00"
NEG~that_great,288,83.18,204.82,0.36,1.93,406.36,12.07,0.54,0.77,2032082,293963,575,NEGMIR,that_great,that,great,"6,821.00"

In [37]:
adv = 'exactly'
adv_am.loc[['exactly'], :]

,G2_MIR,G2_SET,LRC_MIR,LRC_SET,MI_MIR,MI_SET,N_MIR,N_SET,dP1_MIR,dP1_SET,...,mean_MI,mean_N,mean_dP1,mean_expF,mean_f1,mean_f2,mean_f,mean_oddsRDisc,mean_t,mean_unexpF
adv,,,,,,,,,,,,,,,,,,,,,
exactly,"1,939.47","214,404.20",3.51,5.90,0.70,1.28,2032082,"86,330,752.00",0.59,0.67,...,0.99,"44,181,417.00",0.63,"1,231.57","1,760,088.00","31,356.50","604,556.17",1.50,110.37,"20,992.43"

In [38]:
exactly_am = bigram_am.filter(like=adv, axis=0)
exactly_am

,f,exp_f,unexp_f,dP1,LRC,G2,t,MI,odds_r_disc,N,f1,f2,l1,l2,adv,adj,adj_total
key,,,,,,,,,,,,,,,,,
NEG~exactly_sure,8860,347.58,"8,512.42",0.92,8.63,"54,750.58",90.43,1.41,2.71,86330752,3226213,9301,NEGATED,exactly_sure,exactly,sure,"844,981.00"
NEG~exactly_new,1378,52.99,"1,325.01",0.93,8.54,"8,697.93",35.69,1.42,2.94,86330752,3226213,1418,NEGATED,exactly_new,exactly,new,"321,311.00"
NEG~exactly_easy,1069,41.11,"1,027.89",0.93,8.37,"6,747.64",31.44,1.42,2.94,86330752,3226213,1100,NEGATED,exactly_easy,exactly,easy,"771,307.00"
NEG~exactly_clear,1759,68.57,"1,690.43",0.92,8.30,"10,937.16",40.31,1.41,2.77,86330752,3226213,1835,NEGATED,exactly_clear,exactly,clear,"491,108.00"
NEG~exactly_cheap,693,26.31,666.69,0.95,8.28,"4,443.27",25.33,1.42,3.19,86330752,3226213,704,NEGATED,exactly_cheap,exactly,cheap,"83,765.00"
NEG~exactly_sure,148,21.55,126.45,0.85,2.09,560.65,10.39,0.84,2.77,2032082,293963,149,NEGMIR,exactly_sure,exactly,sure,"11,297.00"

In [39]:
exactly_am[['adj', 'l2']].values

array([['sure', 'exactly_sure'],
       ['new', 'exactly_new'],
       ['easy', 'exactly_easy'],
       ['clear', 'exactly_clear'],
       ['cheap', 'exactly_cheap'],
       ['sure', 'exactly_sure']], dtype=object)

In [40]:
if not NEG_HITS_PATH.is_file(): 
    NEG_HITS_PATH = POST_PROC_DIR.joinpath('NEGmirror/trigger-bigrams_thr0-001p.35f.pkl.gz')
neg_hits_table = pd.read_pickle(NEG_HITS_PATH)

neg_hits_table = neg_hits_table.filter(regex=r'^[nab].*lower|text|str|head').drop_duplicates(['text_window', 'bigram_lower', 'neg_form_lower'])
neg_hits_table.sample(3).T

<class 'pandas.core.frame.DataFrame'>
Index: 285435 entries, apw_eng_19941112_0319_18:18-21-22 to pcc_eng_val_1.9217_x14956_02:1-2-3
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   neg_form         285435 non-null  string
 1   adv_form         285435 non-null  string
 2   adj_form         285435 non-null  string
 3   text_window      285435 non-null  string
 4   bigram_id        285435 non-null  string
 5   token_str        285435 non-null  string
 6   neg_deprel       285435 non-null  string
 7   neg_head         285435 non-null  string
 8   neg_lemma        285435 non-null  string
 9   adv_lemma        285435 non-null  string
 10  adj_lemma        285435 non-null  string
 11  neg_form_lower   285435 non-null  string
 12  adv_form_lower   285435 non-null  string
 13  adj_form_lower   285435 non-null  string
 14  bigram_lower     285435 non-null  string
 15  all_forms_lower  285435 non-null  string
 16  pattern          285435 non-null  category
 17  category         285435 non-null  category
 18  prev_form_lower  285435 non-null  string
dtypes: category(2), string(17)
memory usage: 375.9 MB

In [27]:
word_cols = neg_hits_table.filter(regex=r'head|lower').columns
neg_hits_table[word_cols] = neg_hits_table[word_cols].astype('category')
neg_hits_table = neg_hits_table.loc[neg_hits_table.adv_form_lower.isin(adv_am.index), :]

<class 'pandas.core.frame.DataFrame'>
Index: 274250 entries, apw_eng_19941112_0319_18:18-21-22 to pcc_eng_val_1.9217_x14956_02:1-2-3
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   text_window      274250 non-null  string
 1   token_str        274250 non-null  string
 2   neg_head         274250 non-null  category
 3   neg_form_lower   274250 non-null  category
 4   adv_form_lower   274250 non-null  category
 5   adj_form_lower   274250 non-null  category
 6   bigram_lower     274250 non-null  category
 7   all_forms_lower  274250 non-null  category
dtypes: category(6), string(2)
memory usage: 117.3 MB

In [29]:
# sourcery skip: use-fstring-for-concatenation
if 'all_forms_lower' not in neg_hits_table.columns: 
    neg_hits_table['all_forms_lower'] = (
        neg_hits_table.neg_form_lower.astype('string') 
        + '_' 
        + neg_hits_table.bigram_lower.astype('string')
        ).astype('category')

In [30]:
neg_hits_table.sample(3).filter(like='lower')

,neg_form_lower,adv_form_lower,adj_form_lower,bigram_lower,all_forms_lower
hit_id,,,,,
nyt_eng_20080107_0147_17:12-13-14,rarely,that,simple,that_simple,rarely_that_simple
nyt_eng_20080526_0153_16:17-23-24,nothing,ever,good,ever_good,nothing_ever_good
nyt_eng_20050911_0186_16:22-24-25,never,any,easier,any_easier,never_any_easier

In [31]:
exactly_am[['l1', 'l2']].value_counts()

l1       l2
NEGATED  exactly_cheap    1
         exactly_clear    1
         exactly_easy     1
         exactly_new      1
         exactly_sure     1
NEGMIR   exactly_sure     1
Name: count, dtype: int64

In [32]:
samples = dict.fromkeys(bigram_am.l2.unique())
for i, bigram in enumerate(exactly_am['l2'].unique(), start=1): 
    # if i > 3: #HACK 
    #     break
    print(f'\n({i}) {bigram}')
    samples[bigram] = sp(data=neg_hits_table, filters=[f'bigram_lower=={bigram}'], print_sample=False, sample_size=30,
       columns=['neg_form_lower', 'all_forms_lower', 'text_window', 'token_str'], 
       quiet=True, sort_by='all_forms_lower')
    print('    > ',samples[bigram].sample(1).text_window.squeeze())
    print('    ✓')

(1) exactly_sure

TypeError: sample_pickle() got an unexpected keyword argument 'data'

In [ ]:
samples['exactly_happy'].iloc[:, 1:-1].reset_index(drop=True)

,all_forms_lower,text_window
0,n't_exactly_happy,the Wolfpack faithful are n't exactly happy with the job Tom
1,n't_exactly_happy,", and people are n't exactly happy about that ."
2,n't_exactly_happy,residents - who are n't exactly happy to meet their new
3,n't_exactly_happy,"the overall mood is n't exactly happy , there 's a"
4,n't_exactly_happy,nearest and dearest were n't exactly happy when I told them
5,n't_exactly_happy,"They were n't exactly happy about her choice ,"
6,n't_exactly_happy,at Goldman Sachs are n't exactly happy with what they 're
7,n't_exactly_happy,lot of people were n't exactly happy with Destiny at first
8,n't_exactly_happy,"These are n't exactly happy , clappy , and"
9,n't_exactly_happy,He is n't exactly happy with how the show
10,n't_exactly_happy,faces ; they were n't exactly happy to see the Spirit
11,n't_exactly_happy,in their community was n't exactly happy with her arranged marriage
12,n't_exactly_happy,"Falls are n't exactly happy , either ."
13,n't_exactly_happy,She was n't exactly happy to be doing what
14,n't_exactly_happy,) yesterday I was n't exactly happy .
15,n't_exactly_happy,"Pedroia was n't exactly happy with himself , nor"
16,n't_exactly_happy,seems some users are n't exactly happy with having porn automatically
17,n't_exactly_happy,And he was n't exactly happy that Boston dealt him
18,n't_exactly_happy,", Nick Young was n't exactly happy with the lack of"
19,not_exactly_happy,"our share of people not exactly happy to see us ,"
20,not_exactly_happy,I called his actions not exactly happy .
21,not_exactly_happy,result that I was not exactly happy with .
22,not_exactly_happy,If you call not exactly happy snapping his prize Seeker
23,not_exactly_happy,Drake is not exactly happy with his record label
24,not_exactly_happy,", but she 's not exactly happy about it ."
25,not_exactly_happy,Jaime is not exactly happy to see his little
26,not_exactly_happy,neck and shoulders are not exactly happy as of late .
27,not_exactly_happy,"our nation who are not exactly happy about their condition ,"
28,not_exactly_happy,I 'm not exactly happy about the prospect of
29,not_exactly_happy,", then it 's not exactly happy . )"